body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    position: relative;
    height: 100vh;
    color: #fff;
    text-align: center;
}
.header-two{
    position: relative;
    height: 60vh;
    color: #fff;
    text-align: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/home.png'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-position: center;
}
.background-oil{
    position: absolute;
    top: 0;
    left: 0;
    width: 1500px;
    height: 300px;
    background-image: url('img/servicesOil.png'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;

}
.background-depoimentos{
    position: absolute;
    top: 0;
    left: 0;
    width: 1550px;
    top: 100;
    height: 300px;
    background-image: url('img/depoimentos.png'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;

}
.background-secondOil{
    border: 17px solid #3A9D23;
    border-radius: 180px 0px 0px 180px;
    position: absolute;
    top: 35px;
    left: 1100px;
    width: 350px;
    height: 200px;
    background-image: url('img/secondOil.png'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #fff; /* Cor de fundo do menu branco */
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    background-image: url('img/ECOALIZA\ \(2\).png');
    background-repeat: no-repeat;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 90px;
    vertical-align: bottom;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-right: 5px;
    margin-left: 100px;
}

.nav-list a {
    text-decoration: none;
    color: #7E7E7E;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    padding: 10px 0px 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.content {
    padding: 20px;
}
.bottom{
    width: 97px;
    height: 40px;
    border-radius: 18px;
    border: 2px  #3A9D23; 
    background: #3A9D23;
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 15px 1px 10px 50px;
}
.overlay-text {
    position: absolute;
    top: 49%;
    left: 41%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */

}

.overlay-text h1 {
    color: #3A9D23;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    line-height: normal;
    text-transform: uppercase;
  
}
.overlay-text h2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.overlay-text p {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 150%;
}

.overlay-text-oil {
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */

}

.overlay-text-oil h1 {
    color: #3A9D23;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  
}

.overlay-text-oil p {
    color: #676767;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    padding: 0px 0;
    font-weight: 600;
    width: 70%;
    line-height: 20px; /* 150% */
    text-align: left;

}



.overlay-text-th {
    position: absolute;
    top: 128%;
    left: 66%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */

}



.overlay-text-th h1 {
    color: #3A9D23;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 200%;
    text-transform: uppercase;
  
}

.overlay-text-th p {
    color: #676767;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    width: 150%;
    line-height: 20px; /* 150% */

}
.background-th {
    border-radius: 0px 180px 180px 0px;
    border: 17px solid #3A9D23;
    position: absolute;
    width: 502px;
    height: 303px;
    flex-shrink: 0;
    top: 35px;
    left: -750px;
    width: 350px;
    height: 200px;
    background-image: url('img/collectors.png'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: 100%;
    background-repeat: no-repeat;


}



.overlay-text-td {
    position: absolute;
    top: 200%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */

}

.overlay-text-td h1 {
    color: #3A9D23;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 200%;
    text-transform: uppercase;
  
}

.overlay-text-td p {
    color: #676767;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    width: 70%;
    line-height: 20px; /* 150% */

}
.background-td {
   border: 17px solid #3A9D23;
    border-radius: 180px 0px 0px 180px;
    position: absolute;
    top: 35px;
    left: 1080px;
    width: 350px;
    height: 200px;
    background-image: url('img/imageTd.png'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: 100%;
    background-repeat: no-repeat;


}
.label-depoimentos{
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 390px;

}

.container-caixas {
    display: flex;
   
  }

  .caixa-texto {
    width: 430px;
    height: 170px;
    line-height: 1.3;
    border-radius: 32px;
    background: #3A9D23;
    background-color: #3A9D23; /* Verde */
    color: #fff; /* Texto branco */
    border: 2px solid #3A9D23;
    padding: 10px;
    margin: 10px;
    overflow: hidden; /* Garante que o texto não ultrapasse as bordas da caixa */
    text-overflow: ellipsis; /* Adiciona reticências para indicar que há mais texto */
    text-align: justify;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
  }
  .label-depoimento{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  .sub-depoimento{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
.container-forms{
    position: relative;
    width: 100%;
  }
.imagem-inteira {
    position: relative;;
    width: 1500px; 
    height: 583px; 
    display: block; 
  }
.label-depoimentoForms{
    z-index: 2;
    top: 60px;
    right: 500px;
    width: 581;
    height: 48px;
    position: absolute;
    color: #3A9D23;
    font-family: Poppins;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.text-forms{
    z-index: 3;
    color: #FFF;
    top: 110px;
    right: 966px;
    position: absolute;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
}
.form_input-nameFunction{
    stroke-width: 1px;
    stroke: #E3E3E3;
    color: #FFF;
    z-index: 3;
    border: none;
    top: 250px;
    right: 1018px;
    border-bottom: 1px solid #a19c9c; /* Linha de fundo */
    outline: none;
    position: absolute;
    background-color: transparent;;
    padding: 1px;
    width: 344.006px;
  }
.label-nameFunction{
    z-index: 3;
    top: 218px;
    right: 1280px;
    position: absolute;
    color: #E3E3E3;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.label-nickname{
    z-index: 3;
    top: 280px;
    right: 1315px;
    position: absolute;
    color: #E3E3E3;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form_input-nickname{
    stroke-width: 1px;
    stroke: #E3E3E3;
    color: #FFF;
    z-index: 3;
    border: none;
    top: 310px;
    right: 1018px;
    border-bottom: 1px solid #a19c9c; /* Linha de fundo */
    outline: none;
    position: absolute;
    background-color: transparent;;
    padding: 1px;
    width: 344.006px;
  }
.label-emailDp{
    z-index: 3;
    top: 350px;
    right: 1252px;
    position: absolute;
    color: #E3E3E3;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form_input-emailDp{
    stroke-width: 1px;
    stroke: #E3E3E3;
    color: #FFF;
    z-index: 3;
    border: none;
    top: 380px;
    right: 1020px;
    border-bottom: 1px solid #a19c9c; /* Linha de fundo */
    outline: none;
    position: absolute;
    background-color: transparent;;
    padding: 1px;
    width: 344.006px;
}
.label-yourFunction{
    z-index: 3;
    top: 415px;
    right: 1295px;
    position: absolute;
    color: #E3E3E3;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form_input-yourFunction{
    stroke-width: 1px;
    stroke: #E3E3E3;
    color: #FFF;
    z-index: 3;
    border: none;
    top: 435px;
    right: 1022px;
    border-bottom: 1px solid #a19c9c; /* Linha de fundo */
    outline: none;
    position: absolute;
    background-color: transparent;;
    padding: 1px;
    width: 344.006px;
}
.label-yourTestimony{
    z-index: 3;
    top: 470px;
    right: 1265px;
    position: absolute;
    color: #E3E3E3;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form_input-yourTestimony{
    stroke-width: 1px;
    stroke: #E3E3E3;
    color: #FFF;
    z-index: 3;
    border: none;
    top: 490px;
    right: 1022px;
    border-bottom: 1px solid #a19c9c; /* Linha de fundo */
    outline: none;
    position: absolute;
    background-color: transparent;;
    padding: 1px;
    width: 344.006px;
}
.insertions-img{
        position: absolute;
        z-index: 3;
        top: 0;
        left: 975px;
        width: 300px;
        top: 100px;
        height: 300px;
        background-image: url('img/forms.jpeg'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
        background-size: cover;
    
}
.insertions-icons{
    position: relative;
    z-index: 3;
    top: -125px;
    left: 975px;
    width: 150px;
    height: 30px;
    background-image: url('img/iconsFooter.png'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;

}
.insertions-iconEcoaliza{
    position: relative;
    z-index: 3;
    top: -10px;
    left: 975px;
    width: 193px;
    height: 31px;
    background-image: url('img/ECOALIZA\ \(2\).png'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;

}
.label-img{
    position: absolute;
    top: 450px;
    z-index: 3;
    right: 267px;
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.bottom-form{
        z-index: 3;
        position: absolute;
        width: 150px;
        top: 535px;
        left: 220px;
        height: 40px;
        border-radius: 18px;
        border: 2px  #3A9D23; 
        background: #3A9D23;
        color: #FFF;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
.video-container {
        position: relative;
        overflow: hidden;
        top: 1100px;
        border: 8px solid #3A9D23; /* Cor e largura da borda */
        overflow: hidden; /* Garante que a borda não sobreponha o vídeo */
        border-radius: 35px;
}
.overlay-text-video{
    color: #3A9D23;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 200%;
    text-transform: uppercase;
    z-index: 3;
    position: absolute;
    top: 1720px;
    left: 420px;
    height: 40px;
    border-radius: 18px;
        
    
  
}
.container-footer{
    position: relative;
    top: 1200px;
    width: 1475px;
    height: 376px;
    flex-shrink: 0;
    border-radius: 40px 40px 0px 0px;
    background: #323232;
    
}
.container-footer-dp{
    position: relative;
    top: 100px;
    width: 1475px;
    height: 376px;
    flex-shrink: 0;
    border-radius: 40px 40px 0px 0px;
    background: #323232;
    
}
.footer-tittle-service{
    color: #FFF;
    position: relative;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    top: 95px;
    left: 200px;
    right: 200px;
}
.footer-subtittle-service{
    color: #FFF;
    font-family: Poppins;
    position: relative;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 120px;
    left: 200px;
    right: 200px;
}
.footer-tittle-help{
    color: #FFF;
    position: relative;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    top: 28px;
    left: 740px;
    right: 200px;
}
.footer-subtittle-help{
    color: #FFF;
    font-family: Poppins;
    position: relative;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 35px;
    left: 740;
    right: 200px;
}
.box-foms-disponibilizar{
    position: relative;
    width: 500px; 
    height: 450px; 
    background-color: #f5f5f5; 
    border: 1px solid #ccc; 
    padding: 10px; 
    left: 70px;
}
.titlle-disponibilizar{
    position: relative;
    color: #7E7E7E;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    left: 34px;
    top: -8px;
}
.form_input-nomeForms{
    position: relative;
    border: none;
    border-bottom: 1px solid #a19c9c; /* Linha de fundo */
    outline: none;
    background-color: #f5f5f5;
    padding: 1px;
    width: 395.006px;
    top: -15px;
    left: 35px;
  }
.form_label-nomeForms{
    position: relative;
    color: #7E7E7E;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: -15px;
    left: 35px;
    }
.button-continuarDisponibilizar{
        position: relative; 
        width: 92px;
        height: 38px;
        border-radius: 18px;
        border: 2px  #3A9D23; 
        background: #3A9D23;
        color: #FFF;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        top: 15px;
        left: 355px;
    }




@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #333; /* Cor de fundo do menu responsivo */
        display: none;
    }

    .navbar.active {
        display: flex;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

.nav-list li {
    margin: 10px 0;
}

    .navbar .logo {
        margin-bottom: 0px;
    }

}
