body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    position: relative;
    height: 100vh;
    color: #fff;
    text-align: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/home.png'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-position: center;
}
.background-oil{
    position: absolute;
    top: 0;
    left: 0;
    width: 1500px;
    height: 300px;
    background-image: url('img/servicesOil.png'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;

}
.background-secondOil{
    border: 17px solid #3A9D23;
    border-radius: 180px 0px 0px 180px;
    position: absolute;
    top: 35px;
    left: 1100px;
    width: 350px;
    height: 200px;
    background-image: url('img/secondOil.png'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #fff; /* Cor de fundo do menu branco */
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    background-image: url('img/ECOALIZA\ \(2\).png');
    background-repeat: no-repeat;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 90px;
    vertical-align: bottom;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-right: 5px;
    margin-left: 100px;
}

.nav-list a {
    text-decoration: none;
    color: #7E7E7E;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    padding: 10px 0px 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.content {
    padding: 20px;
}
.bottom{
    width: 97px;
    height: 40px;
    border-radius: 18px;
    border: 2px  #3A9D23; 
    background: #3A9D23;
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 15px 1px 10px 50px;
}
.overlay-text {
    position: absolute;
    top: 49%;
    left: 41%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */

}

.overlay-text h1 {
    color: #3A9D23;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    line-height: normal;
    text-transform: uppercase;
  
}
.overlay-text h2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.overlay-text p {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 150%;
}

.overlay-text-oil {
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */

}

.overlay-text-oil h1 {
    color: #3A9D23;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  
}

.overlay-text-oil p {
    color: #676767;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    padding: 0px 0;
    font-weight: 600;
    width: 70%;
    line-height: 20px; /* 150% */
    text-align: left;

}



.overlay-text-th {
    position: absolute;
    top: 128%;
    left: 66%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */

}

.overlay-text-th h1 {
    color: #3A9D23;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 200%;
    text-transform: uppercase;
  
}

.overlay-text-th p {
    color: #676767;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    width: 150%;
    line-height: 20px; /* 150% */

}
.background-th {
    border-radius: 0px 180px 180px 0px;
    border: 17px solid #3A9D23;
    position: absolute;
    width: 502px;
    height: 303px;
    flex-shrink: 0;
    top: 35px;
    left: -750px;
    width: 350px;
    height: 200px;
    background-image: url('img/collectors.png'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: 100%;
    background-repeat: no-repeat;


}



.overlay-text-td {
    position: absolute;
    top: 200%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */

}

.overlay-text-td h1 {
    color: #3A9D23;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 200%;
    text-transform: uppercase;
  
}

.overlay-text-td p {
    color: #676767;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    width: 70%;
    line-height: 20px; /* 150% */

}
.background-td {
   border: 17px solid #3A9D23;
    border-radius: 180px 0px 0px 180px;
    position: absolute;
    top: 35px;
    left: 1080px;
    width: 350px;
    height: 200px;
    background-image: url('img/imageTd.png'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: 100%;
    background-repeat: no-repeat;


}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #333; /* Cor de fundo do menu responsivo */
        display: none;
    }

    .navbar.active {
        display: flex;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

.nav-list li {
    margin: 10px 0;
}

    .navbar .logo {
        margin-bottom: 0px;
    }

}
