
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background-image {
    background-image: url('img/imgLogin.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Opcional: torna o fundo fixo */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.caixa-de-texto-eco {
    color: #3A9D23;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 87%; /* Defina a posição vertical desejada */
    right: 85%;
    transform: translate(-50%, -50%); /* Centralize o elemento no meio da tela */
    z-index: 2; /* Defina um valor maior para a ordem de empilhamento */
}
.box{
        width: 450px; /* Largura da caixa */
        height: 56  0px; /* Altura da caixa */
        background-color: #f5f5f5; /* Cor de fundo da caixa */
        border: 1px solid #ccc; /* Borda da caixa */
        padding: 10px; /* Preenchimento interno da caixa */
        margin: 70px 0 20px 950px; /* Alinha à direita definindo margin-left como "auto" */
        
}
.label-titulo-login{
    width: 150px; /* Largura da caixa */
    color: #7E7E7E;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    margin: 30px 350px 10px 36px;
    padding: 10px;
}

.novo-usuario {
        color: #7E7E7E;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        margin: 10px 150px 25px 46px;
}

.login{
    color: #7E7E7E;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 15px 10px 8px 46px;
}
.form__input{
    border: none;
    border-bottom: 1px solid #a19c9c; /* Linha de fundo */
    outline: none;
    background-color: #f5f5f5;
    padding: 1px;
    width: 344.006px;
    margin: 1px 10px 10px 46px;
  }
.sublinhado{
    text-decoration: underline; /* Adiciona um sublinhado */
    text-decoration-color: #7E7E7E; /* Cor do sublinhado */
    text-decoration-style: solid; /* Estilo do sublinhado (pontilhado) */
}
.button-login{
    width: 97px;
    height: 40px;
    border-radius: 18px;
    border: 2px  #3A9D23; 
    background: #3A9D23;
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 1px 10px 20px 300px;
}

.form-button {
    width: 250px;
    height: 30px;
    display: inline-block;
    color: #fff;
    padding: 10px 40px;
    border-radius: 18px;
    border: 1px solid #7E7E7E;
    margin: 1px 1px 15px 50px;
    color: #7E7E7E;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;

}

.icon-form{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 290px;
}
.label-google{
    text-decoration: none;
    color: #7E7E7E;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 1px 1px 15px 30px;
}

.label-titulo-cadastro{
    width: 150px; /* Largura da caixa */
    color: #7E7E7E;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 30px 350px 10px 36px;
    padding: 10px;
}
.label-cadastro{
    color: #7E7E7E;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 15px 10px 8px 46px;
}
/* Estilos para o contêiner do select personalizado */
.custom-select {
    position: relative;
    width: 150px;
    margin: 20px;
  }
  
  /* Estilize o select nativo para torná-lo invisível */

  nav menuitem {
   position:relative;
   display:block;
   opacity:0;
   cursor:pointer;
}

nav menuitem > menu {
   position: absolute;
   pointer-events:none;
}
nav > menu { display:flex; }

nav > menu > menuitem { pointer-events: all; opacity:1; }
menu menuitem a { white-space:nowrap; display:block; }
   
menuitem:hover > menu {
   pointer-events:initial;
}
menuitem:hover > menu > menuitem,
menu:hover > menuitem{
   opacity:1;
}


nav { 
   margin-top: 30px;
   margin-left: 20px;
}

nav a {
   min-width:150px;
   transition: background 0.5s, color 0.5s, transform 0.5s;
   padding:20px 40px;
   box-sizing:border-box;
   position:relative;
   color: #7E7E7E;
   font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 344px;
    flex-shrink: 0;
    appearance: none; /* Remova a aparência padrão do sistema (seta) */
    border: none;
    border-bottom: 1px solid #a19c9c; /* Linha de fundo outline: none;*/
    background-color: #f5f5f5;
    padding: 1px;
    margin: 1px 150px 6px -10px;
}

nav a:hover:before {
   content: '';
   top:0;left:0;
   position:absolute;
   background:rgba(0, 0, 0, 0.2);
   width:100%;
   height:100%;
}

nav > menu > menuitem > a + menu:after{ 
   content: '';
   position:absolute; /*arrow*/
   border:10px solid transparent;
   border-top: 8px solid #7E7E7E;
   left: 330px;
   top: -40px;  
}


  











  
  


  
  